<aside class="curvo-call-to-action">
  <h4>
    Interested in investing?
  </h4>

  <p>
    Then you should check out my latest project: <a href="https://curvo.eu/?utm_source=yoranbrondsema-blog&utm_medium=cta-on-post">Curvo</a>. With Curvo, we are making
    passive investing easy and accessible to everyone.  Our
    generation is facing a scary financial future and we believe
    that improving the way you save money is an important step to
    better your financial well-being.
  </p>

  <p>
    Continue by reading <a href="https://www.yoranbrondsema.com/post/introducing-enzo-a-better-way-of-saving-money/">why we started Curvo</a> and <a href="https://curvo.eu/?utm_source=yoranbrondsema-blog&utm_medium=cta-on-post#sign-up">sign up to the waitlist</a>.
  </p>
</aside>
