<nav class="main-nav">
	{{ $url := replace .Permalink .Site.BaseURL "" }}
	{{ if not .IsHome }}
		<a href='/'> <span class="arrow">←</span>{{ with .Site.Params.home }}{{ . }}{{ else }}Home{{ end }}</a>
	{{ end }}
	<a href='/entrepreneurship'>Entrepreneurship</a>
	<a href='/my-book'>My book</a>
	<a href='/investment-portfolio'>Passive investing</a>
	<a href='/reading'>Reading</a>
	<a href='/open-invite'>Open invite</a>

	<a href='/post' class="main-nav-link-secondary">{{ with .Site.Params.archive }}{{ . }}{{ else }}Blog posts{{ end }}</a>

	{{ range $key, $val := .Site.Params.Links }}
		<a href="{{ $val }}">{{ $key }}</a>
	{{ end }}
</nav>
